.Content{
    width: calc((100% - 25px) - 30%);
    padding: 25px;
    padding-left: 15%;
    padding-right: 15%;
}

.bt{
    width: fit-content;
    padding: 5px 10px;
    border-radius: 3px;
    background: #027bff;
    color: white;
    margin: 5px 0;
    font-weight: 100;
    font-size: 13px;
    cursor: pointer;
}