@import"https://fonts.googleapis.com/css2?family=Alata&display=swap";

*{
  padding: 0;
  margin: 0;
  outline: none;
  scroll-behavior: smooth;
  border: none;
  text-decoration: none;
  font-family: Alata, sans-serif;
}

.fcc{
  display: flex;
  justify-content: center;
  align-items: center;
}