@import"https://fonts.googleapis.com/css2?family=Alata&display=swap";

*{
  padding: 0;
  margin: 0;
  outline: none;
  scroll-behavior: smooth;
  border: none;
  text-decoration: none;
  font-family: Alata, sans-serif;
}

.fcc{
  display: flex;
  justify-content: center;
  align-items: center;
}

.Cover{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  width: 100svw;
  height: 100svh;
  background-color: rgba(0, 0, 0, 0.315);
  .Popup{
    margin-top: 2%;
    aspect-ratio: 2.0;
    width: 45em;
    background-color: aliceblue;
  }
}

.Edit{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  width: 100svw;
  height: 100svh;
  background-color: rgba(0, 0, 0, 0.315);
  .Popup{
    margin-top: 2%;
    aspect-ratio: 2.0;
    width: 45em;
    background-color: aliceblue;
  }
}

.off{
  display: none;
}