@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

.cover{
    width: calc(100% - 40px);
    background: #fff;
    box-shadow: 0px 1px 4px 4px  rgba(0, 0, 0, 0.473);
    padding:10px;
    margin: 30px auto;
    color: #000;
    text-align: center;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.estlytable {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.estlytable th{
    text-align: center;
}

.estlytable td {
    padding: 10px;
    text-align: center;
}

.estlytable td:first-child,
.estlytable th:first-child {
  text-align: left;
}

.estlytable td {
    border-bottom: 1px solid #ddd;
  }
  
  .estlytable tr:last-child td:not(:last-child) {
    border-bottom: none;
  }
  